<!doctype html>
<html ng-app="myModule">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <title></title>
        <link rel="stylesheet" href="styles.css">
        <script src="app.js"></script>

    </head>
    <body onload="izik.start()">
   
   <table border="1 px solid black">
       <tr>
           <header>
               <td>Name and list name</td>
               <td>table</td>
           </header>
       </tr>
       <tr>
           <td><input type="text" id="Names" ></td>
           <td><input type="text" id="Table" size="1"></td>
       </tr>
       
       <tr>
           <td colspan="2" style="text-align:center"><input type="button" value="send" onclick=" izik.add()"> </td>
       </tr>
       
   </table>
   
   <div ng-controller="mycontroler">
      
      <input type="text" placeholder="Search" ng-model="search.name">
      
      <select ng-model="select">
          <option value="+name">A-Z</option>
          <option value="+table">1-100</option>
      </select>
      
      
       
       <table border="1px solid black">
           <header>
               <tr>
                   <td>Name</td>
                   <td>Table</td>
               </tr>
           </header>
           <tr ng-repeat="user in users | filter:search | orderBy:select" >
               <td ng-click ="openuser()" value="segev">{{user.name}}</td>
               <td>{{user.table}}</td>
           </tr>
           
           
           
       </table>
     
       
       
   </div>
   
   
   
    </body>
</html>
<!--

angular.module("myModule" , []).controller("myController", function($scope){
 
  
    $scope.users = [
          {name: 'beni' , age:40 , city: 'ashdod' , register: new Date('Januar 30 2017')},
        {name: 'segev' , age: 20 , city: 'Rishon-lzion' , register: new Date('October 30 2017')},
        {name: 'rave' , age: 25 , city: 'Tel-aviv' , register: new Date('November 5 2017')},
        {name: 'roi' , age: 26 , city: 'Tel-aviv' , register: new Date('November 5 2017')},
       {name: 'ron' , age: 26 , city: 'Tel-aviv' , register: new Date('November 5 2017')},
        
    ]
    
    $scope.short = '+name';
    
    
} );-->